# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design Trident 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Leadscrew Rotation Distance          [stepper_z], [stepper_z1], [stepper_z2]
## Z Endstop Switch location            [safe_z_home] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
canbus_uuid: 5259863f0deb
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 500 
max_accel: 20000           #Max 4000
#max_accel_to_decel: 20000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5

[exclude_object]
[respond]
# Enable arcs support
[gcode_arcs]
resolution: 0.1


[include mainsail.cfg]
[include EBBCan.cfg]
# [include shell_command.cfg]
[include macros/calibration/*.cfg]
[include adxl.cfg]
[include macros/gcode_button.cfg]
# [include macros/KAMP/Adaptive_Mesh.cfg]
# [include macros/KAMP/Voron_Purge.cfg]
[include macros/*.cfg]
[include KAMP_Settings.cfg]
#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PE2
dir_pin: PB4
enable_pin: !PC11
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 200 for 1.8 degree stepper
endstop_pin: EBBCan:PB6
position_min: 0


##--------------------------------------------------------------------

position_endstop: 300
position_max: 300


##--------------------------------------------------------------------
homing_speed: 60   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##    Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_x]
cs_pin: PC10
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
interpolate: false
run_current: 1.2
sense_resistor: 0.075
stealthchop_threshold: 0

[stepper_y]
step_pin: PF12
dir_pin: !PF11
enable_pin: !PB3
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 200 for 1.8 degree stepper
endstop_pin: PF4
position_min: 0
##--------------------------------------------------------------------
position_endstop: 307
position_max: 307


##--------------------------------------------------------------------
homing_speed: 60  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_y]
cs_pin: PF13
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
interpolate: false
run_current: 1.2
sense_resistor: 0.075
stealthchop_threshold: 0


#####################################################################
#   Z Stepper Settings
#####################################################################

##  Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PD3
dir_pin: !PD2
enable_pin: !PD5
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4    
microsteps: 16
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0
# endstop_pin: ^PG15
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -1.160
## All builds use same Max Z
position_max: 235
position_min: -2.5
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PD4
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Center
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PD1
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 16

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PD0
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Front Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PA10
dir_pin: !PA14
enable_pin: !PA15
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 16

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF8
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

## SEE EBBCan.cfg


# [extruder]
# step_pin: sb2040:gpio9
# dir_pin: !sb2040:gpio10
# enable_pin: !sb2040:gpio7
# rotation_distance: 22.3969156
# gear_ratio: 50:10
# microsteps: 32
# full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
# nozzle_diameter: 0.400
# filament_diameter: 1.75
# min_temp: -50
# max_temp: 350
# # pressure_advance: 0.022
# pressure_advance: 0.04
# pressure_advance_smooth_time: 0.020
# heater_pin: sb2040:gpio6
# sensor_pin: sb2040:gpio27
# max_extrude_only_distance: 500 
# #max_extrude_only_velocity: 120


# sensor_type: PT1000
# pullup_resistor: 1000
# #sensor_type: ATC Semitec 104NT-4-R025H42G

# [tmc2209 extruder]
# uart_pin: sb2040:gpio8
# run_current: 0.600
# stealthchop_threshold: 999999

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PB7
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PA0
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.7
pwm_cycle_time: 0.01
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   Probe
#####################################################################

# [probe]
# ##  Inductive Probe
# ##  This probe is not used for Z height, only Quad Gantry Leveling

# # Select the probe port by type:
# ## For the PROBE port. Will not work with Diode. May need pull-up resistor from signal to 24V.
# #pin: ~!PB7
# ## For the DIAG_7 port. NEEDS BAT85 DIODE! Change to !PG15 if probe is NO.
# #pin: PG15
# ## For Octopus Pro Probe port; NPN and PNP proximity switch types can be set by jumper
# #pin: ~!PC5

# #--------------------------------------------------------------------
# pin: PG13
# x_offset: 0
# y_offset: 27
# z_offset: 6.42
# speed: 5
# samples: 3
# sample_retract_dist: 2
# lift_speed: 5.0
# samples_result: median
# samples_tolerance: 0.01
# samples_tolerance_retries: 5
# #x_offset: 0
# #y_offset: 25.0
# #z_offset: 0
# #speed: 10.0
# #samples: 3
# #samples_result: median
# #sample_retract_dist: 3.0
# #samples_tolerance: 0.006
# #samples_tolerance_retries: 3

######

#####################################################################
#   Fan Control
#####################################################################

#[fan]
##  Print Cooling Fan - FAN0
#pin: PA8
#kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
#off_below: 0.10

#[heater_fan hotend_fan]
##  Hotend Fan - FAN1
#pin: PE5
#max_power: 1.0
#kick_start_time: 0.5
#heater: extruder
#heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[controller_fan controller_fan]
##  Controller fan - FAN2
pin: PE6
kick_start_time: 0.5
heater: heater_bed
fan_speed: 1.0
shutdown_speed: 0.0
idle_timeout: 30

[fan_generic nevermore]
pin: PC12
#pwm: true
cycle_time: 0.010
#value: 0
#shutdown_value: 0

[controller_fan stepper_fan1]
##  Controller fan - FAN2
pin: PE5
kick_start_time: 0.5
stepper: stepper_x, stepper_y
heater: heater_bed, extruder
fan_speed: 1.0
shutdown_speed: 0.0
idle_timeout: 30

# [controller_fan stepper_fan2]
# ##  Controller fan - FAN2
# pin: PE4
# kick_start_time: 0.5
# stepper: stepper_x, stepper_y
# heater: heater_bed, extruder
# fan_speed: 0.8
# shutdown_speed: 0.0
# idle_timeout: 30

[controller_fan stepper_fan2]
#  Controller fan - FAN2
pin: PE4
kick_start_time: 0.5
stepper: stepper_x, stepper_y
heater: heater_bed, extruder
fan_speed: 1.0
shutdown_speed: 0.0
idle_timeout: 30


#[heater_fan exhaust_fan]
##  Exhaust fan - FAN3
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#   Additional Sensors
#####################################################################

#[thermistor Trianglelab-NTC100K-B3950]
#temperature1: 25
#resistance1: 103180
#temperature2: 150
#resistance2: 1366.2
#temperature3: 250
#resistance3: 168.6

[temperature_sensor chamber]
## Chamber Temperature - T1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA2
min_temp: 0
max_temp: 100
gcode_id: chamber_th

[temperature_sensor raspberry_pi]
## Pi Temps
sensor_type: temperature_host
max_temp: 100

[temperature_sensor mcu_temp]
## Octopus Temps
sensor_type: temperature_mcu
max_temp: 100

[temperature_sensor upper_bed]
# Upper glass Bed thermistor
sensor_type: Generic 3950
sensor_pin: PA3
min_temp: 0
max_temp: 140

# [filament_motion_sensor filament_sensor]
# detection_length: 10
# extruder: extruder
# switch_pin: ^PC5
# pause_on_runout: True
# insert_gcode:
#     M117 Insert Detected
# runout_gcode:
#     M117 Runout Detected
#     #LCDRGB R=1 G=0 B=0  # Turn LCD red
#     #BEEP I=12

[filament_motion_sensor filament_sensor]
detection_length: 15.00 ; This can be adjusted to your desired level of sensitivity. 10 is a recomended value to prevent flow dropoff false triggers.
extruder: extruder
switch_pin: ^PC5
pause_on_runout: True # This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below. 
event_delay: 3.0
pause_delay: 0.5
runout_gcode:
    M117 Runout Detected!

# [filament_switch_sensor filament_sensor]
# switch_pin: ^sb2040:gpio28
# pause_on_runout: True
# insert_gcode:
#     M117 Insert Detected
# runout_gcode:
#     M117 Runout Detected
#     #LCDRGB R=1 G=0 B=0  # Turn LCD red
#     #BEEP I=12
#####################################################################
#   LED Control
#####################################################################

[output_pin caselight]
## Chamber Lighting - CNC_FAN5
pin: PB6
pwm: True
hardware_pwm: True
shutdown_value: 0
value:0
# scale: 100
cycle_time: 0.01

#####################################################################
#   Beacon
#####################################################################

[beacon]

serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_1EF39A474E4B333448202020FF0A0834-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 21.5 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
home_xy_position: 150, 150 # update for your machine
z_hop: 3
speed: 100

[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead


## Uncomment below for 300mm build
z_positions:
   -50, 18
   150, 348
   350, 18
points:
   30, 5
   150, 245
   270, 5

##--------------------------------------------------------------------

speed: 200
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075

########################################
# BED MESH
########################################
[bed_mesh]
speed: 350

mesh_min: 40, 40
mesh_max: 260,260
##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
probe_count: 15,15
algorithm: bicubic



#############################
#BUTTONS
##############################
[gcode_button tophatoff]
pin: ^PF3
press_gcode: LEDOFF


##-----------------------------------------------------------------------

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 38.532
#*# pid_ki = 1.502
#*# pid_kd = 247.089
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.961
#*# pid_ki = 2.996
#*# pid_kd = 60.663
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 78.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 53.8
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.020536, 0.019971, 0.004750, -0.003719, 0.005445, 0.009257, 0.007073, 0.008935, 0.013191, 0.010994, 0.001560, 0.015555, 0.019055, 0.015879, 0.017748
#*# 	0.027486, 0.021921, 0.008905, 0.000302, 0.002214, 0.004323, -0.003983, -0.000506, 0.011617, 0.012890, 0.005355, 0.012686, 0.016465, 0.008265, 0.004883
#*# 	0.029627, 0.025261, 0.010308, -0.000489, 0.003444, 0.005699, -0.005071, -0.001956, 0.015314, 0.019328, 0.010805, 0.012470, 0.017697, 0.003693, -0.003607
#*# 	0.034566, 0.031084, 0.016917, 0.007347, 0.011044, 0.010717, 0.002025, 0.006549, 0.022787, 0.026203, 0.015416, 0.015088, 0.015029, -0.000764, -0.013646
#*# 	0.035028, 0.028517, 0.015907, 0.009014, 0.013554, 0.015353, 0.008952, 0.012759, 0.029122, 0.030285, 0.020279, 0.019200, 0.016791, -0.000368, -0.012457
#*# 	0.035145, 0.029887, 0.017811, 0.011297, 0.016693, 0.019466, 0.016986, 0.021701, 0.032682, 0.032037, 0.017049, 0.017287, 0.017483, -0.001607, -0.009479
#*# 	0.033131, 0.029290, 0.018977, 0.014239, 0.018305, 0.023818, 0.021999, 0.023155, 0.033560, 0.029539, 0.014668, 0.012667, 0.013656, -0.001391, -0.006364
#*# 	0.029926, 0.025173, 0.016751, 0.012881, 0.021454, 0.028203, 0.023285, 0.022101, 0.028555, 0.023744, 0.010534, 0.011918, 0.012977, 0.001637, -0.004456
#*# 	0.031549, 0.027222, 0.022381, 0.016310, 0.019914, 0.026569, 0.019994, 0.017775, 0.023682, 0.020374, 0.006869, 0.008686, 0.009315, -0.006529, -0.011045
#*# 	0.035815, 0.030122, 0.027062, 0.022573, 0.024888, 0.027713, 0.016797, 0.012777, 0.020815, 0.015515, 0.005280, 0.006569, 0.005822, -0.009838, -0.017948
#*# 	0.037388, 0.030670, 0.025758, 0.017976, 0.020430, 0.018478, 0.008435, 0.006142, 0.013231, 0.012429, 0.002417, 0.004955, 0.004814, -0.014557, -0.026364
#*# 	0.042991, 0.036778, 0.028859, 0.022356, 0.023473, 0.021805, 0.014076, 0.014364, 0.024073, 0.018439, 0.008892, 0.011287, 0.009116, -0.010955, -0.022597
#*# 	0.031813, 0.022935, 0.012476, 0.006582, 0.011221, 0.011808, 0.006852, 0.013522, 0.022433, 0.014200, 0.001439, 0.002029, -0.003568, -0.017429, -0.027762
#*# 	0.025528, 0.016048, 0.007847, 0.005299, 0.014940, 0.015265, 0.012424, 0.017167, 0.024722, 0.017449, 0.004282, 0.004018, 0.000537, -0.014536, -0.021432
#*# 	0.032884, 0.025272, 0.018228, 0.018475, 0.027968, 0.027245, 0.018228, 0.021726, 0.034663, 0.027306, 0.015376, 0.018529, 0.014993, 0.001142, -0.007550
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
#*#
#*# [beacon model default]
#*# model_coef = 1.4428027477809142,
#*# 	  1.7537712088636837,
#*# 	  0.7518803354546754,
#*# 	  0.3859360172676594,
#*# 	  0.34229237356000586,
#*# 	  0.28195889500946075,
#*# 	  -0.11234560502409036,
#*# 	  -0.16447209615172076,
#*# 	  0.1755566681804561,
#*# 	  0.1448611919285459
#*# model_domain = 3.163151489407209e-07,3.341753405002766e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 60.410642
#*# model_offset = 0.00000
